{% extends 'headOfficerTemplate/base_template.html' %}
{% block page_title %}
EDIT STATION | #ID : {{ station.id }}
{% endblock page_title %}

{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Station</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_station_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    {% if messages %}
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                      <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                      {% endif %}
                      {% if message.tags == 'success' %}
                      <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </div>


                    <div class="form-group">
                        <input type="hidden" name="station_id" value="{{ station.id }}">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address" placeholder="Enter Address" value="{{ station.address }}">
                  </div>
                    <div class="form-group">
                    <label>Contact</label>
                        <input type="number" class="form-control" name="contact" value="{{ station.contact }}">
                  </div>

                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">SAVE</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->

        </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}